@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

html{
    background-color: #121417;
}

.wrapper{
    background-color: #252D37;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    
}


.star{
    margin-left: 25px;
    margin-top: 20px;
     
}
/* .starWrapper{
    background-color: #7C8798;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: 20px;

} */

.question{
    font-family: Overpass;
    color: white;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 30px;
    
}

.content{
    font-family: Overpass;
    font-size: 15px;
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #959EAC;

}
.choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    color: black;
    

}

.num{
    background-color: #7C8798;
    height: 40px;
    width: 40px;
    border-radius: 50%;  
    cursor: pointer;
}

.num:hover{
    background-color: #FB7413;
}


/* 
.num2{
    background-color: #7C8798;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
}

.num2:hover{
    background-color: #FB7413;
}

.num3{
    background-color: #7C8798;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
}

.num3:hover{
    background-color: #FB7413;
}

.num4{
    background-color: #7C8798;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
}

.num4:hover{
    background-color: #FB7413;
}

.num5{
    background-color: #7C8798;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
}

.num5:hover{
    background-color: #FB7413;
} */

input{
    color: white;
    background-color: #FB7413;
    width: 300px;
    height: 30px;
    margin-top: 40px;
    margin-left: 50px;
    text-align: center;  
    border-radius: 30px;
    cursor: pointer;
}

input:hover{
    color: #FB7413;
    background-color: white;
}



.thank{
    height: 70px;
    margin-left: 150px;
    margin-top: 30px;

}

.rating{
    color: #FB7413;
    background-color: #7C8798;
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;

}

.thankyou{
    color: white;
    font-family: Overpass;
    font-size: 26px;
    margin-left: 130px;
    margin-top: 50px;
}

.ending{
    font-family: Overpass;
    font-size: 15px;
    color: #959EAC;
    width: 340px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}